{% extends "base.html" %}

{% block content %}

<style>
    li.complete {
        text-decoration: line-through;
    }
</style>

<a href="../">back</a>
    <h3>
        {{ story.story_type|capfirst}}: {{ story.name }}
    </h3>

    <pre>{{ story.description }}</pre>

    {% if tasks %}
        <h4>Internal Comments</h4>
        <ul>
            {% for task in tasks %}
                <li class="{% if task.complete %}complete{% endif %}">{{ task.description }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if comments %}
        <h4>Internal Comments</h4>
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item"><b>{{ comment.person_id }} at {{ comment.created_at }}:</b><br/>{{ comment.text }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- todo: accept customer comments -->
    <!-- todo: show logged hours -->


    <h4>Hours Logged</h4>
    <ul class="list-group" id="hours">
        <li class="list-group-item loading">Loading...</li>
    </ul>

    <script type="text/javascript">
        function formatHours(dur) {
            var hours = dur / 1000 / 60 / 60;
            return Math.round(hours * 100)/100;
        }
        $(document).ready(function() {
            $.getJSON("hours.json", function( data ) {
                $("#hours .loading").hide();
                $.each(data, function (_, row) {
                    $("#hours").append(
                        '<li class="list-group-item">' +
                        [row.start.slice(0, 10),
                         row.user,
                         " <b>" + formatHours(row.dur) + "h</b>",
                         "</li>"].join(" "));
                });
            });
        });
    </script>

{% endblock %}