{% extends "base.html" %}

{% block content %}

Stories:

<div>
    {% if show_completed %}
            <a href="./">hide completed</a>
    {% else %}
        <a href="./?show_completed=True">show completed</a>
        <style>
            li.accepted { display: none; }
        </style>
    {% endif %}
</div>

<style>
    span.status {
        padding-left: 10px;
        font-style: italic;
    }
</style>

<ul>
    {% for story in stories %}
        <li class="{{story.current_state}}">
            <span class="name">
                <a href="{{ story.id }}/">{{ story.name }}</a>
            </span>
            <span class="status">{{ story.current_state }}</span>
        </li>
    {% endfor %}
</ul>

<div>
    task statuses:
    <ul>
        <li>unscheduled: captured in system but not scheduled</li>
        <li>unstarted: scheduled but not yet started</li>
        <li>started: some progress has been made</li>
        <li>finished: developer complete</li>
        <li>delivered: code or logic deployed</li>
        <li>accepted: verfieid completed by end user</li>
    </ul>
</div>

{% endblock %}